@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
    padding: 0 !important;
    background: none;
}

/* FIXME: does not work */
button[data-disabled="true"] {
    cursor: not-allowed;
}
